.calendar-wrapper {
  position: relative;
  margin-bottom: 17px;

  .date-time-control {
    background: #fff;
    cursor: pointer;
    height: 3.3rem;
    line-height: 3.3rem;

    &[disabled] {
      background: #eee;
      user-select: none;
      cursor: not-allowed;
    }
  }

  .input-group-addon {
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .has-error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  }

  .calendar {
    position: absolute;
    top: 36px;
    padding: 5px;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1), 0 4px 25px 0 rgba(0, 184, 178, 0.08);
    border-radius: 4px;
    z-index: 20;
    user-select: none;
    display: flex;
    flex-direction: row;

    .dates-only {
      width: 26rem;
    }

    .date-time {
      width: 26rem;
    }
  }
}

