.time-control-container {
  display: flex;
  justify-content: center;
  height: 100%;

  .timer-container {
    display: flex;
    width: 100%;
    height: 100%;

    .separator {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
    }

    .time-control {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1 1 auto;
      font-size: 1.8rem;
      margin: 20px 0 0 0;

      & > a {
        text-decoration: none;
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }
      }

      & > button {
        background: transparent;
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  .time-units {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    &.hour-units {
      width: 24rem;
    }

    &.minute-units {
      width: 16rem;
    }

    .time-unit-button {
      & > button {
        background: transparent;
        border: none;
        outline: none;
        padding: 10px;
      }

      &:hover {
        background: #eee;
        border-radius: 5px;
      }
    }
  }
}
