<div class="date_picker_container">
  <h1>DateTime: {{ dateTime }}</h1>
  <bsng-datepicker format="dd.MM.yyyy HH:mm" selectedDate="31.08.2022 09:00" minDate="12.07.2022 09:00"
    maxDate="12.10.2022 23:30" [isDateTime]="true" [minuteStep]="30" [daysOfWeekDisabled]="[0]"
    (dateSelected)="dateTimeSelected($event)">
  </bsng-datepicker>
  <hr>
  <h3>DateTime no limits: {{ dateTimeNoLimits }}</h3>
  <bsng-datepicker format="dd.MM.yyyy HH:mm" selectedDate="04.09.2022 09:00" [isDateTime]="true" [minuteStep]="10"
    [timelines]="timelines" (dateSelected)="dateTimeNoLimsSelected($event)">
  </bsng-datepicker>
  <hr>
  <h1>Date: {{ date }}</h1>
  <bsng-datepicker format="dd.MM.yyyy" selectedDate="02.09.2022" minDate="03.07.2022" maxDate="14.12.2022"
    [isDateTime]="false" [daysOfWeekDisabled]="[0,6]" (dateSelected)="dateSelected($event)">
  </bsng-datepicker>
</div>