<div class="calendar__wrapper">
  <div class="form-group">
    <div class="input-group" (click)="showCalendar($event)">
      <input type="text" readonly ngDefaultControl class="form-control" [value]="selectedDate">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div *ngIf="show" class="calendar">
    <div class="calendar__dates-only">
      <div class="calendar__navs">
        <div class="calendar__month-nav">
          <button [disabled]="isPrevDisabled" class="glyphicon glyphicon-chevron-left calendar__nav-btn" (click)="prevMonth()"></button>
          <span>{{ selectedMonth.format('MMMM') }} {{ selectedMonth.format('YYYY') }}</span>
          <button [disabled]="isNextDisabled" class="glyphicon glyphicon-chevron-right calendar__nav-btn" (click)="nextMonth()"></button>
        </div>
      </div>
      <div class="calendar__month">
        <div class="calendar__day-names">
          <div class="calendar__day-name" *ngFor="let name of namesOfDays">{{name}}</div>
        </div>
        <div class="calendar__weeks">
          <div class="calendar__week" *ngFor="let week of weeks">
            <ng-container *ngFor="let day of week">
              <div class="calendar__date"
                [ngClass]="{'today': day.today, 'selected': day.selected, 'disabled': day.disabled, 'diff-month': !isSelectedMonth(day)}"
                (click)="selectDate(day)">
                <span class="calendar__number">{{ day.mDate.date() }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isDateTime" class="calendar__datetime">
      <app-timepicker [hours]="hours" [minutes]="minutes" (incrementHours)="incrementHours()"
        (decrementHours)="decrementHours()" (incrementMinutes)="incrementMinutes()"
        (decrementMinutes)="decrementMinutes()"></app-timepicker>
    </div>
  </div>
</div>