.calendar {
  position: absolute;
  top: 36px;
  padding: 5px;
  font-size: 13px;
  background-color: #fff;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1), 0 4px 25px 0 rgba(0, 184, 178, 0.08);
  border-radius: 4px;
  z-index: 20;
  user-select: none;
  display: flex;
  flex-direction: row;

  &__wrapper {
    position: relative;
    margin-bottom: 17px;
  }

  &__dates-only {
    width: 26rem;
  }

  &__datetime {
    width: 26rem;
    display: flex;

    .separator {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
    }

    .time-control {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1 1 auto;
      font-size: 1.8rem;
      margin: 20px 0 0 0;

      & > a {
        text-decoration: none;
        padding: 5px;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  &__navs {
    color: #000;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &__nav-btn {
    background-color: transparent;
    border: none;
    outline: none;
    &[disabled] {
      color: transparent;
      pointer-events: none;
      user-select: none;
      cursor: not-allowed;
    }
  }

  &__month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    span {
      line-height: 1;
    }
  }

  &__day-names {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #fff;
    padding: 0 5px;
  }

  &__day-name {
    font-weight: bold;
  }

  &__weeks {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }

  &__week {
    display: flex;
    flex-direction: row;
  }

  &__date,
  &__day-name {
    text-align: center;
    padding: 5px;
    width: 14.29%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    height: 30px;
    line-height: 30px;
    padding: 5px;
    position: relative;
    &:after {
      content: "";
      height: 30px * 0.9;
      width: 30px * 0.9;
      position: absolute;
      z-index: 1;
    }
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
    &.disabled {
      pointer-events: none;
      color: #e0e0e0 !important;
    }
    &.diff-month {
      color: #a1a1a1;
    }
    &.selected {
      color: #fff;
      background-color: #47a2f1 !important;
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
    &.today {
      font-weight: bold;

      &:before {
        content: "";
        border: solid transparent;
        border-width: 0 0 7px 7px;
        border-bottom-color: #337ab7;
        border-top-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 4px;
        right: 4px;
      }
    }
  }

  &__number {
    z-index: 10;
  }
}

.datepicker[readonly]:not([disabled]) {
  background-color: #fff;
  cursor: pointer;
}
